absl-py
aiohttp
aiosignal
altair
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
datasets
decorator
dill
ecdsa
filelock
Flask
Flask-Cors
flatbuffers
fonttools
fpdf
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
grpcio
h5py
httplib2
huggingface-hub
idna
imageio
imageio-ffmpeg
imbalanced-learn
imblearn
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
moviepy
mpmath
multidict
multiprocess
namex
narwhals
networkx
nltk
numpy==1.23.5  # or a compatible version for your TensorFlow version
oauthlib
opt-einsum
optree
packaging
pandas
pdfkit
pillow
proglog
proto-plus
protobuf
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
pycparser
pycryptodome
pydeck
pygame
Pygments
PyMuPDF
PyMuPDFb
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
setuptools
six
smmap
soupsieve
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow-cpu==2.12.0  # specify the version you're using
termcolor
tf_keras
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
transformers
typing_extensions
tzdata
uritemplate
urllib3
watchdog
Werkzeug
wheel
wordcloud
wrapt
xxhash
yarl
